/* Footer */
html{
    font-size: 62.5%;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 6.3rem;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7rem;
    font-size: 2rem;
}
.icon{
    margin-left: 1rem;
    color: white;
}
.icon:hover{
    color: crimson;
    transition: all 0.5s;
}
.copy{
    margin-bottom: 1rem;
}
.para{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}